.background1{
    text-align: center;
    padding-top: 100px;
    padding-bottom:100px ;
    background-image: url("../img/backgrounds/h_img.jpg");
    color:white;
    position: relative;
    background-size: cover;
    font-size: 30px;
}
.para1{
    padding-top:50px;
    padding-bottom:50px;
}
.para1 h2{
       text-align:center;
}
.para1 p{
    text-align: center;
}
.background2{
    background-image:url("../img/backgrounds/s_image.jpg");
    color:white;
    text-align: center;
    padding-top: 100px;
    padding-bottom:100px ;
}
#wedo{
    text-align:center;
    padding-top:40px;
    scroll-padding-bottom:20px;
}
.col-md-4{
    padding-top:50px;
    padding-bottom:50px;
    scroll-padding-right: 100px;
    float:left;
    column-gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 250px;
}
.portfolios{
    float: left;
}
.icons{
    padding-right: 200px;
}
#des{
    display: none;
    text-align: center;
}
#dev{
    display:none;
    text-align: center;
}
#prod{
    display:none;
    text-align: center;
}
.cont1:hover .overlay1{
    opacity:1;
}
.overlay1{
    transition: .5s ease;
}
#portfolio{
    text-align: center;
}
.background3{
    text-align: center;
    padding-top: 40px;
    padding-bottom:250px ;
    background-image: url("../img/backgrounds/c_image.jpg");
    color:white;
    position: relative;
    background-size: cover;
    font-size: 20px;
}
.background3 h3{
    padding-top: 5px;

    
}
#textarea{
    border:2px solid black;
    width:600px;
    height:100px;
    
    padding-top: 10%;
}
::placeholder{
    color:white;
    position: top;
    
}
.socialicons{
    text-align: center;
    padding-top: 20px;
    scroll-padding-bottom: 40px;
}
.foot{
    text-align: center;
    scroll-padding-top: 20px;
}
#mce-EMAIL{
    width:35%;
    background-position-x: right;
    height:50px;
    background: none;
    margin-left:20px;
}
#mce-NAME{
    width:100%;
    height:50px;
    background:none;
    padding-right: 10px;
}
#mce-MESSAGE{
    height:250px;
    width:600px;
    background:none;
}
.fieldgroup{
    display: flex;
   padding-left: 25%;
    padding-bottom: 10px;
}